{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["prettier", "jsx-a11y", "react", "import"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
